{% extends 'back/base.html.twig' %}

{% block title %}Traduction {{ parent() }}{% endblock %}
{% block pageTitle %}Traductions{% endblock %}

{% block body %}
    {% block content %}

        <table>
            <tbody>
                <tr>
                    <td style="text-align: center;">Anglais</td>
                    <td style="text-align: center;" class="editable-column" style="text-align: center;">Français</td>
                </tr>
                {% for category, translations in content %}
                    <tr>
                        <td colspan="2" style="text-align: center;">{{ category }}</td>
                    </tr>

                    {% for key, value in translations %}
                        <tr style="text-align: center;">
                            <td style="text-align: center;">{{ key }}</td>
                            <td style="text-align: center;" class="editable-cell" data-key="{{ key }}">{{ value }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

        <button id="addRowButtonTranslation">{{addButtonTranslate}}</button>

        <div id="categoryInputContainer" style="display: none;">
            <label for="categoryInput">Catégorie:</label>
            <input type="text" id="categoryInput" placeholder="Nom de la catégorie">
        </div>

        <script src="{{ asset('assets/js/translation/addTranslation.js') }}"></script>
        <script src="{{ asset('assets/js/translation/modifyTranslation.js') }}"></script>


    {% endblock %}
{% endblock %}