{% extends '/back/base.html.twig' %}

{% block title %}Page {{ parent() }}{% endblock %}
{% block pageTitle %}Page {% endblock %}

{% block body %}
    {% block content %}

{% if pages is not empty %}
        <section>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Créé le</th>
                    <th>MAJ le</th>
                    </tr>
                </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    {% for page in pages %}
                        <tr>
                        <td>{{ page.title }}</td>
                        <td>{{ page.content }}</td>
                        <td>{{ page.createdAt|date('d-m-Y \\à H\\hi') }}</td>
                        <td>
                            {% if page.updatedAt is not null %}
                                    {{ page.updatedAt|date('d-m-Y \\à H\\hi') }}
                                {% else %}
                                <p>Pas de mise à jour faite</p>
                            {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </section>
        {% else %}
            <p>Vous n'avez pas encore créé de page.</p>
        {% endif %}
       <a href="{{ path('admin_add_admin') }}" id="addRowButton">{{ addPageButtonLabel }}</a>

    {% endblock %}
{% endblock %}