{# templates/team/register.html.twig #}

{% extends 'base.html.twig' %}
<title>Inscription équipe</title>

{% block body %}
    <h1>Register</h1>
    <div class="form-container">
    {{ form_start(form) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
    </div>
{% endblock %}
