{% extends 'front/base.html.twig' %}

{% block title %}Connexion {{ parent() }}{% endblock %}

{% block body %}
    {% block content %}

        <div class="form-container">
            <h1 class="text-center">Connexion</h1>
            <div class="separator-center"></div>
            {% if error %}
                <div class="error-message-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
    {{ form_start(form) }}
    {{ form_row(form._email) }}
    {{ form_row(form._password) }}
    {{ form_row(form._remember_me) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
        </div>
    {% endblock %}
{% endblock %}
