{% extends 'back/base.html.twig' %}

{% block title %}Menu de navigation {{ parent() }}{% endblock %}
{% block pageTitle %}Menu de navigation {% endblock %}

{% block body %}
    {% block content %}
    {% if menus %}
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0" valign="center">
                <tbody class="text-center">
                    {% for menu in menus %}
                        <tr>
                            <td>{{ menu.name }}</td>
                            <td><a href="{{ path('app_menu_add_pages', {'id': menu.id}) }}"><i class="text-white fa-solid fa-eye" aria-hidden="true"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pages-list-added">
            <h2 class="mb-4">Menu de navigation</h2>
            {% for menu in menus %}
                <input type="checkbox" data-menu-id="{{ menu.id }}">
                <label>{{ menu.name }}</label>
                <br>
            {% endfor %}
        </div>
        
    {% else %}
        <p>Pas de menu créé</p>
    {% endif %}
    {% endblock %}
{% endblock %}