<!DOCTYPE html>
<html lang="fr">
<head>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/back/main.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/back/responsive.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/root.css') }}">

            {{ ux_controller_link_tags() }}
        {% endblock %}
    <title>{% block title %} - Admin - Emeraude Connect{% endblock %}</title>
</head>

<body>
<div class="sidebar">
    <a href="{{ path('admin') }}"><img src=""></a>

    <ul class="menu">
        <li>
            <a href="{{ path('admin') }}">Tableau de Bord</a>
        </li>

        <li class="submenu">
            <p class="title">Utilisateurs</p>
            <ul>
                <li><a href="#">Liste</a></li>
                <li><a href="#">Ajouter</a></li>
            </ul>
        </li>

        <li class="submenu">
            <p class="title">Paramètres</p>
            <ul>
                <li><a href="{{path('translation_back')}}">Traduction</a></li>
            </ul>
        </li>
    </ul>
</div>



  <div id="general">
    <div class="content">
        {% block content %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </div>
  </div>
</body>

</html>