<!DOCTYPE html>
<html lang="fr">
<head>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/back/main.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/back/responsive.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/root.css') }}">

            {{ ux_controller_link_tags() }}
        {% endblock %}
    <title>{% block title %} - Admin - Emeraude Connect{% endblock %}</title>
</head>

<body>

<div class="sidebar">
    <a href="{{ path('admin') }}"><img src=""></a>

    <ul class="menu">
        <li>
            <a href="{{ path('admin') }}">Tableau de Bord</a>
        </li>

        <li class="submenu">
            <p class="title">Général</p>
            <ul>
                <li>
                    <a href="{{ path('page_list_admin') }}" {% if app.request.attributes.get('_route') starts with 'page_list_admin' %}class="active"{% endif %}>
                        Pages
                    </a>
                </li>
                {% if app.request.attributes.get('_route') in ['page_list_admin', 'page_add_admin'] %}
                    <li class="sub-submenu">
                        <a href="{{ path('page_add_admin') }}" {% if app.request.attributes.get('_route') == 'page_add_admin' %}class="active"{% endif %}>
                            Ajouter
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>

        <li class="submenu">
            <p class="title">Utilisateurs</p>
            <ul>
                <li>
                    <a href="{{ path('users_customer_admin') }}" {% if app.request.attributes.get('_route') starts with 'users_customer_admin' %}class="active"{% endif %}>
                        Client
                    </a>
                </li>
                {% if app.request.attributes.get('_route') in ['users_customer_admin', 'users_customer_add_admin'] %}
                    <li class="sub-submenu">
                        <a href="" {% if app.request.attributes.get('_route') == 'users_customer_add_admin' %}class="active"{% endif %}>
                            Ajouter
                        </a>
                    </li>
                {% endif %}
            </ul>
            <ul>
                <li>
                    <a href="{{ path('users_team_admin') }}" {% if app.request.attributes.get('_route') starts with 'users_team_admin' %}class="active"{% endif %}>
                        Équipe
                    </a>
                </li>
                {% if app.request.attributes.get('_route') in ['users_team_admin', 'users_team_add_admin'] %}
                    <li class="sub-submenu">
                        <a href="" {% if app.request.attributes.get('_route') == 'users_team_add_admin' %}class="active"{% endif %}>
                            Ajouter
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>

        <li class="submenu">
            <p class="title">Paramètres</p>
            <ul>
                <li><a href="{{ path('translation_back') }}" {% if app.request.attributes.get('_route') == 'translation_back' %}class="active"{% endif %}>Traduction</a></li>
                <li><a href="{{ path('app_menu_admin') }}" {% if app.request.attributes.get('_route') == 'app_menu_admin' %}class="active"{% endif %}>Menu</a></li>
                <li><a href="{{ path('app_hook_admin') }}" {% if app.request.attributes.get('_route') == 'app_hook_admin' %}class="active"{% endif %}>Points d'accroches</a></li>       
            </ul>
        </li>
    </ul>
</div>


  <div id="general">
    <div class="content">
        <h1 class="titlePage">{% block pageTitle %}Titre par défaut{% endblock %}</h1>
        <div class="seperator"></div>
        {% block content %}{% endblock %}
        {% block javascripts %}
            <script src="https://kit.fontawesome.com/fc4b89a096.js" crossorigin="anonymous"></script>
        {% endblock %}
    </div>
  </div>
</body>

</html>